
/* Imports */
@import url("https://fonts.googleapis.com/css?family=Hahmlet:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,300,700");

/* Style settings for our website */
:root {
  /* Colors */
  --primary-color: #7CB342;
  --primary-color-light: #DCEDC8;
  --primary-color-dark: #4b6c27;
  --primary-color-slightly-darker: #587f2f;
  --secondary-color: #76462c;
  --secondary-color-light: #d4bfb4;
  --secondary-color-dark: #392215;
  --light: #f8faf5;
  --dark: #0d1207;
  --white: #ffffff;
  /* Fonts */
  --title-font: 'Montserrat';
  --body-font: 'Hahmlet';
}

/* Useful custom classes */
.primary-color {
  color: var(--primary-color) !important;
}

.search-box {
  font-family: var(--title-font);
  border: 0.1rem solid #ddd; /* Add a grey border */
  border-radius: 0.2rem;
  margin: 0rem;
}

.search-box:focus {
  outline-style: solid;
  outline-width: 0.1rem;
  outline-color: var(--primary-color);
  margin: 0rem;
}

/* Modifications to bootstrap defaults */
body {
  font-family: var(--body-font) !important;
  color: var(--dark) !important;
}

h1 {
  font-family: var(--title-font) !important;
}

a, a:hover {
  color: var(--primary-color-slightly-darker)
}

nav {
  font-family: var(--title-font) !important;
}

.table td {
  padding: 0.4rem 0.75rem;
}

.table p {
  margin: 0;
}

.btn {
  font-family: var(--title-font) !important;
}

*:focus {
  border-color: var(--primary-color-light) !important;
  box-shadow: none !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:hover {
  background-color: var(--white) !important;
  border-color: var(--primary-color-dark) !important;
  color: var(--primary-color-dark) !important;
  border-width: 0.1rem;
}

/* Custom CSS styles */
.block {
  margin: 10px;
}

.dataset {
  color: darkgreen;
}

.model {
  color: darkred;
}

.application {
  color: darkblue;
}

.help-icon {
  margin-left: 3px;
  margin-right: 3px;
}

.graph {
  width: 100%;
  height: 600px;
  display: block;
}

.field-explanation {
  color: gray;
  font-size: smaller;
  font-style: italic;
}