.dataset {
  color: darkgreen;
}

.model {
  color: darkred;
}

.application {
  color: darkblue;
}

.help-icon {
  margin-left: 3px;
  margin-right: 3px;
}

.block {
  margin: 10px;
}

.graph {
  width: 100%;
  height: 600px;
  display: block;
}

.field-explanation {
  color: gray;
  font-size: smaller;
  font-style: italic;
}
