<div class="bg-white d-flex justify-content-center">

  <div class="container-fluid mx-5 mt-5 px-5 py-4" style="width: 60%;"> 

    <div class="row align-items-center">
      <div class="col-xs-6 center-block mx-3">
        <img height="130" width="auto" src="./img/icon.svg" alt="Ecosystem Graphs Logo">
      </div>
      <div class="col-xs-6">
        <h1 class="fs-1">ecosystem</h1>
        <h1 class="fs-1">graphs</h1>
      </div>
    </div>

    <div class="my-5 mx-3">
      <p class="lead">
        Foundation models define an emerging ecosystem of datasets, models, and applications. As their footprint grows, so does their <b>societal impact</b>.
      </p>
      <p class="lead">
        <b>Ecosystem graphs</b> is a framework to document the foundation models ecosystem, namely both the assets (datasets, models, and applications) and their relationships. Ecosystem graphs tracks the state of foundation models to help researchers, application developers, policymakers, and the public.
      </p>
      <p>
        Click on the buttons below to visualize the foundation models ecosystem, as a graph or a table.
      </p>
    </div>
    

    <div class="center-block text-center m-5">
      <a href="index.html?mode=table" class="btn btn-lg btn-primary m-3 px-5" role="button">TABLE</a>
      <a href="index.html?mode=graph" class="btn btn-lg btn-primary m-3 px-5" role="button">GRAPH</a>
    </div>

  </div>

</div>