<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-white py-4">

    <a class="navbar-brand" href="index.html?mode=home">
      <img src="./img/icon.svg" width="30" height="30" class="d-inline-block align-top" alt="Ecosystem Graphs Logo">
      ecosystem graphs
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-content">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-1"><a class="nav-link" href="index.html?mode=table">TABLE</a></li>
        <li class="nav-item mx-1"><a class="nav-link" href="index.html?mode=graph">GRAPH</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/stanford-crfm/ecosystem-graphs">GITHUB</a></li>
        <li class="nav-item mx-1">
          <a class="btn btn-primary" href="https://forms.gle/VqnSsZhv62hJ5rP36">CONTRIBUTE</a>
        </li>
      </ul>
    </div>

  </nav>
